<form action="/session" method="post">
  <input type="email"
         name="user[email]"
         placeholder="email address">
  <input type="password"
         name="user[password]"
         placeholder="password">
  <input type="submit"
         value="Sign in!">
</form>
