
<div class="container">
  <div id="main-content">
    <h1>Welcome to Not Webster's</h1>
    <div id="featured">
      <h2>Today's featured word</h2>
      <div id="featured-article">
        <div id="featured-title">
          <h1>Featured Word</h1>
          <h3>Title</h3>
        </div>
        <div class="full">

        </div>
      </div>
    </div>
  </div>
</div>
