
<div class="container">
  <div id="main-content">
    <h1>Welcome to Not Webster's</h1>
    <div id="featured">
      <h2>Today's featured word</h2>
          <h1>Featured Word</h1>
          <h3>Word</h3>
    </div>
  </div>
</div>
