<header>
  <h1 class="wiki">Wiki</h1>
  <div id="nav-button">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div id="menu-wrapper">
    <ul id="menu">
      <li><a href="/about">About</a></li>
      <li><a href="/articles">Browse</a>
        <ul class="browse-menu">
          <li><a href="#">History</a></li>
          <li><a href="#">Literature</a></li>
          <li><a href="#">Philosophy</a></li>
          <li><a href="#">Mythology</a></li>
        </ul>
      </li>
      <li><span>Be a Contributor</span>
        <ul class="browse-menu">
          <li><a href="/users/new">Sign Up</a></li>
          <li><a href="/users/login">Log In</a></li>
          <li><a href="/users">View Profile</a></li>
          <li><a href="/articles/new">Write an Article</a></li>
        </ul>
      </li>
    </ul>
  </div>
</header>
