
<header>
  <h1 class="webster" id="name">Not Webster's</h1>
  <div id="nav-button">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div id="menu-wrapper">
    <ul id="menu">
      <li><a href="/words">Browse</a>
        <ul class="languages">
          <li><a href="/words">Britsh English</a></li>
          <li><a href="/words">American English</a></li>
          <li><a href="/words">French</a></li>
        </ul>
      </li>
      <li><span>Contribute to Not Webster's </span>
        <ul class="browse-menu">
          <li><a href="/users/new">Sign Up</a></li>
          <li><a href="/users/login">Login</a></li>
          <li><a href="/words/new"></a></li>
          <li><a href="users/featured">Word of the Day</a></li>
          <li><a href="/users/logout">Log Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</header>
