<header>
  <h1 class="wiki" id="name">Wiki</h1>
  <div id="nav-button">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div id="menu-wrapper">
    <ul id="menu">
      <li><a href="/about">About</a></li>
      <li><a href="/articles">Browse</a>
        <ul class="browse">
          <li><a href="/articles">History</a></li>
          <li><a href="/articles">Literature</a></li>
          <li><a href="/articles">Philosophy</a></li>
          <li><a href="/articles">Mythology</a></li>
        </ul>
      </li>
      <li><span>Be a Contributor</span>
        <ul class="browse-menu">
          <li><a href="/users/new">Sign Up</a></li>
          <li><a href="/users/login">Login</a></li>
          <li><a href="/users">View Profile</a></li>
          <li><a href="/articles/new">Write an Article</a></li>
          <li><a href="users/featured">Article of the Day</a></li>
          <li><a href="/users/logout">Log Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</header>
