<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wiki</title>
    <link rel="stylesheet" href="/stylesheets/main.css" media="screen" charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,700|Titillium+Web:400,700' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
  </head>
  <body>




    <!-- $('input').keyup(function(event){
      event.preventDefault();
      var search =$(this).val();
      $('#text').html(search);
      $.ajax({
        url: 'mongodb://localhost:27017/wiki_db',
        method:"GET",
        data: { s:search},
        success: function(data, status, jqXHR){
          var newText="";
          for(i=0; i<data.Search.length; i++){
            newText += 'mongodb://localhost:3000/wiki_db/'+'data.Search[i].wiki_db+'>'+data.Search[i].Title+'</a><br>;
          },
          $("#text").html(newText);
        },

        error: function(jqXHR, status, error){
        }
      });
    })
     -->


    <%- body %>


  </body>
  <script type="text/javascript" src="/js/script.js"></script>
</html>
