
<div class="container">
  <div id="main">
    <form action="/articles/:title" method="post">
      <label>Title</label></br>
      <input type="text"
             name="article[title]"
      placeholder="Title here."></br>
      <label>Author</label></br>
      <input type="text"
             name="article[author]"
      placeholder="Your name here."></br>
      <label>Categories</label></br>
      <div class="categories">
        <input id="history" type="checkbox" name="article[categories][]"value="history">
        <label for="history">History</label>
        <input id="literature" type="checkbox" name="article[categories][]"value="literature">
        <label for="literature">Literature</label>
        <input id="Philosophy" type="checkbox" name="article[categories][]"value="philosophy">
        <label for="Philosophy">Philosphy</label>
        <input id="mythology" type="checkbox" name="article[categories][]"value="Mythology">
        <label for="mythology">Mythology</label>
      </div>
      <!-- <input type="text"
             name="article[categories][]"
      placeholder="List your category here."></br> -->
     <label>Content</label></br>
     <textarea type="text"
               name="article[content]"
        placeholder="Your content here."></textarea>
     <input type="submit"
           value="Publish">
<!-- value of author should be user[username] -->
    </form>
  </div>
</div>
