body{
  background-color: #272D2D;
  font-family: 'Titillium Web', sans-serif;
  color: white;
}

label{
  margin-bottom: 20px;
}

.login{
  display: flex;
  /*max-width: 10vw;
  min-width: 320px;*/
  flex-direction: column;
  height: 30vh;
  width: 100vw;
  margin:auto;
  overflow: hidden;
  box-shadow: 0 0 0 0.5(rgba(255, 0, 0, 0.5);)
}

.wiki{
  display:flex;
  flex-direction:column;
  flex:1 0 10em;
  overflow: hidden;
  padding: 1em;
  color: white;
  transition: flex-basis 500ms ease-in-out;
  align-self: center;
  padding-top: 5em;
}

.wiki:hover{
  flex-basis: 20em;
}

.name {
  font-size: 3em;
  font-weight: 600;
}

.log {
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.log li {
  font-size: 1em;
  line-height: 2em;
}

button{
  cursor: pointer;
}

button:hover{
  background-color: #E6FDFF;
  color: black;
}

#menuwrap,
#content-wrapper,
#home-button > span {
   -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

#content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 10px 0 10px;
  background-color: #E6FDFF;
  box-shadow: -6px 0px 10px 1px #646464;
}

#home-button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 15px;
  width: 20px;
  z-index: 999;
}

#nav-button:hover {
  cursor: pointer;
}

#nav-button > span {
  margin-bottom: 3px;
  height: 3px;
  width: 20px;
  background-color: white;
  opacity: 0.5;
  display: block;
}

#nav-button.open span:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(45deg);
     -moz-transform: translateY(6px) rotate(45deg);
      -ms-transform: translateY(6px) rotate(45deg);
       -o-transform: translateY(6px) rotate(45deg);
          transform: translateY(6px) rotate(45deg);
}

#nav-button.open span:nth-child(2) {
  -webkit-transform: rotateY(90deg);
     -moz-transform: rotateY(90deg);
      -ms-transform: rotateY(90deg);
       -o-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

#nav-button.open span:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(-45deg);
     -moz-transform: translateY(-6px) rotate(-45deg);
      -ms-transform: translateY(-6px) rotate(-45deg);
       -o-transform: translateY(-6px) rotate(-45deg);
          transform: translateY(-6px) rotate(-45deg);
}

#menu-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  background: #333;
  z-index:2;
  pointer-events: none;
}

#menu-wrapper.open li{
  opacity: 0.9;
  left:0;
  pointer-events:visible;
  color: black;
}

ul#menu {
  list-style-type: none;
  padding: 20px 0 0 0;
  text-align: center;
  margin-bottom: 0;
}
#menu-wrapper.open{
  opacity: 0.9;
  left:0;
  height: 100%;
}

ul#menu li {
  border-bottom: 1px solid darkgray;
  opacity: 0;
  position: relative;
  text-align: center;
  left:10%;
  transition: opacity 1s ease, left 1s ease;
  height:20%;
}

ul#menu li:first-child{
  border-top: 1px solid darkgray;
}
ul#menu li:last-child a {
  margin-bottom: 0;
}
ul#menu li.selected {
  background-color: rgb(171, 171, 171);
}

ul#menu > li > a {
  display: block;
  padding: 60px 10px 60px 10px;
  text-decoration: none;
  font-weight: 300;
}

ul#menu > li > a:link, a:visited {
  color: white;
}

ul#menu > li > a:hover {
  color: #057A7F;
}
