*{
  background-color: #272D2D;
  font-family: 'Titillium Web', sans-serif;
  color: white;
}

body{
  margin:0;
  top:0;
}


#search-bar{
  display: flex;
  box-sizing: border-box;
  margin:0 auto;
}


.wiki{
  display:flex;
  flex-direction:column;
  flex:1 0 10em;
  overflow: hidden;
  padding: 1em;
  color: white;
  transition: flex-basis 500ms ease-in-out;
  align-self: center;
  padding-top: 5em;
  cursor: pointer;
  width: 50vw;
  margin-left: auto;
}

.wiki:hover{
  flex-basis: 20em;
}



#name {
  font-size: 3em;
  font-weight: 600;
  cursor: pointer;
}

#name:hover{
  color: #057A7F;
}

.log {
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.log li {
  font-size: 1em;
  line-height: 2em;
}

button{
  cursor: pointer;
}

button:hover{
  background-color: #E6FDFF;
  color: black;
}

footer {
  height: 8vh;
  width: 100%;
  position: fixed;
  bottom: 0;
}

#menu-wrapper,
#content-wrapper,
#nav-button > span {
   -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

#content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 10px 0 10px;
  background-color: #E6FDFF;
  box-shadow: -6px 0px 10px 1px #646464;
  width: 2em;
}

#content-wrapper.open{
  left:2em;
  background-color: #E6FDFF;
}

#nav-button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 15px;
  width: 20px;
  z-index: 3;
  margin-bottom: 3px;
}

#nav-button:hover {
  cursor: pointer;
}

#nav-button > span {
  margin-bottom: 3px;
  height: 3px;
  width: 20px;
  background-color: white;
  opacity: 0.5;
  display: block;
}

.open span:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(45deg);
     -moz-transform: translateY(6px) rotate(45deg);
      -ms-transform: translateY(6px) rotate(45deg);
       -o-transform: translateY(6px) rotate(45deg);
          transform: translateY(6px) rotate(45deg);
}

#nav-button.open span:nth-child(2) {
  -webkit-transform: rotateY(90deg);
     -moz-transform: rotateY(90deg);
      -ms-transform: rotateY(90deg);
       -o-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

#nav-button.open span:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(-45deg);
     -moz-transform: translateY(-6px) rotate(-45deg);
      -ms-transform: translateY(-6px) rotate(-45deg);
       -o-transform: translateY(-6px) rotate(-45deg);
          transform: translateY(-6px) rotate(-45deg);
}

#menu-wrapper {
  position: relative;
  top: 0;
  bottom: 0;
  opacity: 0;
  width: auto;
  background: #E6FDFF;
  z-index:2;
  pointer-events: none;
  left:-250px;
  transition:0.5s ease;
}

#menu-wrapper.open{
  left:40px;
}

#menu-wrapper.open li{
  opacity: 0.9;
  left:0;
  pointer-events:visible;

}

ul#menu {
  list-style-type: none;
  padding: 20px 0 0 0;
  text-align: center;
  margin-bottom: 0;
}

#menu-wrapper.open{
  opacity: 0.9;
  left:0;
  height: 100%;
}

ul#menu li {
  border-bottom: 1px solid darkgray;
  opacity: 0;
  position: relative;
  text-align: center;
  left:10%;
  transition: opacity 1s ease, left 1s ease;
  height:20%;
}

ul#menu li:first-child{
  border-top: 1px solid darkgray;
}
ul#menu li:last-child a {
  margin-bottom: 0;
}
ul#menu li.selected {
  background-color: rgb(171, 171, 171);
}

ul#menu > li > a {
  display: block;
  padding: 10px 60px 10px 10px;
  text-decoration: none;
  font-weight: 300;
  text-decoration: none;
}

ul#menu > li > a:link, a:visited {
  color: white;
}

ul#menu > li > a:hover {
  color: #057A7F;
}

.container,
#main:first-child {
  padding-top: 3%;
}

#main {
  width: 60vw;
  height: 60vh;
  min-width: 500px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;

}

.categories{
  color: white
  margin:0;
  top:inherit;
}

#history,#literature,#philosophy,#mythology{
  margin: 0 auto;
  box-sizing: border-box;
  color: white;
  box-shadow: darkgray;

}

form{
  border: 1px white;
}

input{
  box-sizing: border-box;
  border: 1px black;

}

#main-new{
  margin: 0 auto;
  box-sizing: border-box;
  color: white;
  box-shadow: darkgray;

}
