<div class="container">
  <div id="main">

      <input type="checkbox">

      <div class="section">
        <div>
          <form action="/users/login" method="post">
            <label>Login</label></br>
            <input type="text"
                   name="user[username]"
                   placeholder="username">
            <label>Password</label></br>
            <input type="password"
                   name="user[password]"
                   placeholder="password">
            <input type="submit"
                  value="Sign In">
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
