<div class="container">
  <div id="main-new">
    <div id="main">
        <label>Username</label></br>
        <h3><%= user.username %></h3></br>
        <label>Email</label></br>
        <h3><%= user.email %></h3></br>
        <label>Password</label></br>
        <h3><%= user.password %></h3>
      </div>
    </div>
  </div>
</div>
